@{
    ViewData["Title"] = "Navbar";
}

<nav>
    <div class="navbar container">
        <a class="" asp-controller="Home" asp-action="Index"><h1>Shuajb Ahmeti</h1></a>
        <div class="navbars">
            <ul class="navbar-links">
                <li class="nav-item">
                    <a class="link-button active" href="#home">Home</a>
                </li>
                <li class="">
                    <a class="link-button" href="#schooling">Schooling</a>
                </li>
                <li class="">
                    <a class="link-button" href="#skills">Skills</a>
                </li>
                <li class="">
                    <a class="link-button" href="#projects">Projects</a>
                </li>
                <li class="">
                    <a class="" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



