@{
    ViewData["Title"] = "Home Page";
}

<div class="first-section" id="home">
    <div class="inner-first-section">
        <div class="about-me">
            <h1>Software Engineer</h1>
            <p>
                I completed primary school in Prishtina at the "Emin Duraku" school.
                I finished high school at the "Alaud-din" madrasa and now I am studying at Riinvest College in the third and final year in computer science.
                Because I have always been attracted to different technologies and programs, then I continued my studies in this field. 
            </p>
            <br />
            <p>
                As a student I have also started programming some databases as initial projects, which normally need perfection. I can say that I am in the right direction because I have found myself in this field and I have a lot of will and I believe that I will succeed.
            </p>
        </div>
        <div class="image-section">
            <img class="my-image" src="~/Assets/Images/shuajb.jpg" asp-append-version="true" width="420" height="420" />
        </div>
    </div>
</div>

<div class="second-section" id="schooling">
    <div class="inner-second-section">
        <div class="about-schooling">
            <h1>Schooling</h1>
            <p>
               My elementary school, high school, bachelor 
            </p>
        </div>
        <div class="cards">
            <div class="card1">
                <div class="card-image">
                    <img src="~/Assets/Images/shkolla-emin-duraku.jpg" asp-append-version="true" width="350" height="200"/>
                </div>
                <div class="card-description">
                    <h3>Elementary School "Emin Duraku"</h3>
                    <p>I have done elementary school in Emin Duraku School, from 2007 - 2016</p>
                </div>
            </div>
            <div class="card2">
                <div class="card-image">
                    <img src="~/Assets/Images/Medreseja_Alauddin_Prishtinë.jpg" asp-append-version="true" width="350" height="200"/>
                </div>
                <div class="card-description">
                    <h3>High School Medreseja - "Alaud-din"</h3>
                    <p>I have done high school in Medreseja Alaud-din, from 2016 - 2019</p>
                </div>
            </div>
            <div class="card3">
                <div class="card-image">
                    <img src="~/Assets/Images/Riinvest-foto.png" asp-append-version="true" width="350" height="200"/>
                </div>
                <div class="card-description">
                    <h3>College "Riinvest" Bachelor</h3>
                    <p>I'm still studying and i study computer sience in the branch of programming</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="third-section" id="skills">
    <div class="inner-third-section">
        <div class="about-my-skills">
            <h1>Skills</h1>
            <p>
                This are all my skills which i have experienced them
            </p>
        </div>
        <div class="all-skills">
            <div class="">
                <h4>HTML</h4>
                <img src="~/Assets/Logo/html-logo.png" alt="HTML-logo" width="70" height="70"/>
            </div>
            <div class="">
                <h4>CSS</h4>
                <img src="~/Assets/Logo/css3-logo.png" alt="CSS-logo" width="70" height="70" />
            </div>
            <div class="">
                <h4>JavaScript</h4>
                <img src="~/Assets/Logo/js-logo.png" alt="JS-logo" width="70" height="70" />
            </div>
            <div class="">
                <h4>JQuery</h4>
                <img src="~/Assets/Logo/jquery-logo.png" alt="JQuery-logo" width="70" height="70" />
            </div>
            <div class="">
                <h4>Vue-js</h4>
                <img src="~/Assets/Logo/vuejs-logo.png" alt="Vue-js-logo" width="70" height="70" />
            </div>
            <div class="">
                <h4>Bootstrap</h4>
                <img src="~/Assets/Logo/Bootstrap-logo.png" alt="Bootstrap-logo" width="70" height="70" />
            </div>
        </div>
        <div class="all-skills-other">
            <div class="">
                <h4>Tailwind</h4>
                <img src="~/Assets/Logo/tailwind-logo.png" alt="Tailwind-logo" width="70" height="70" />
            </div>
            <div class="">
                <h4>C#</h4>
                <img src="~/Assets/Logo/Csharp_Logo.png" alt="C#-logo" width="70" height="70" />
            </div>
            <div class="">
                <h4>.NET</h4>
                <img src="~/Assets/Logo/net-logo.png" alt=".NET-logo" width="70" height="70" />
            </div>
            <div class="">
                <h4>SQL Server</h4>
                <img src="~/Assets/Logo/sql-server-logo.png" alt="SQL Server-logo" width="110" height="70" />
            </div>
            
            
        </div>
    </div>
</div>

<div class="fourth-section" id="projects">
    <div class="inner-fourth-section">

        <div class="my-projects-description">
            <h1>My projects</h1>
            <p>
                This are some of my project which i worked on them
            </p>
        </div>
        <div class="first-project">

            <div class="first-image">
                <img src="~/Assets/Images/rent-a-car.png" width="500" height="400" />
            </div>
            <div class="second-image">
                <img src="~/Assets/Images/catalog.png" width="500" height="400" />
            </div>
        </div>
        <div class="first-project-other-photos">
            <div class="third-image">
                <img src="~/Assets/Images/service.png" width="500" height="400" />
            </div>
            <div class="fourth-image">
                <img src="~/Assets/Images/contact.png" width="500" height="400" />
            </div>
        </div>

        <div class="description">This is a web application which is built for the management of rental cars</div>

        <div class="my-projects-description">
            <h1>Rent a car desktop application</h1>

        </div>
        <div class="first-project">
            <div class="first-image">
                <img src="~/Assets/Images/login.png" width="500" height="400" />
            </div>
            <div class="second-image">
                <img src="~/Assets/Images/rent-a-car-1.png" width="500" height="400" />
            </div>
        </div>
        <div class="first-project-other-photos">
            <div class="third-image">
                <img src="~/Assets/Images/veturat.png" width="500" height="400" />
            </div>
            <div class="fourth-image">
                <img src="~/Assets/Images/huazimet.png" width="500" height="400" />
            </div>
        </div>

        <div class="description">This is a desktop application which is built for the management of rental cars</div>

        <div class="my-projects-description">
            <h1>Certificates</h1>

        </div>
        <div class="first-project">
            <div class="first-image">
                <img src="~/Assets/Images/freeCodeCamp-Certifikata.png" width="500" height="400" />
            </div>
            <div class="second-image">
                <img src="~/Assets/Images/ROI-Certifikata.png" width="500" height="400" />
            </div>
        </div>
    </div>
</div>


